html {
	overscroll-behavior: none
}

html,body {
  height: 100%;
	font-family: 'Share Tech Mono', monospace;
	font-size: 35px;
  background: black;
	color: white;
	position: relative;
}

header {
	background: black;
}

.middle {
	position: absolute;
	top: -100%;
	animation-name: falling;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
	animation-duration: 25s;
}

.grid-square {

}

@keyframes falling {
	from {
		top: -100%;
	}
	to {
		top: 200%;
	}
}

@keyframes rollRight {
	from {
		transform: rotate(0deg);
		opacity: 1;
	}
	to {
		transform: rotate(180deg);
		opacity: 0;
	}
}

@keyframes rollLeft {
		from {
			transform: rotate(360deg);
			opacity: 1;
		}
		to {
			transform: rotate(180deg);
			opacity: 0;
		}
}

footer {
 position: absolute;
 background: black;
 bottom: 0;
 width: 100%;
}