html {
	overscroll-behavior: none
}

html, body {
	height: 100%;
	font-family: 'Share Tech Mono', monospace;
	font-size: 2vw;
	background: black;
	color: white;
	position: relative;
	overflow: hidden;
}

#title {
	font-size: 5vw;
}


header {
	background: black;
	visibility: hidden;
}

.middle {

}

#display-message {
	opacity: 1;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	font-size: 15vh;
	line-height: 0.7;
}

#sub-title {
	font-size: 5vh;
	line-height: 1;
}

footer {
	background: black;
	font-size: 2vw;
}

.grid-square {
	/* overflow-x: visible; */
	min-height: 200px;
	max-height: 200px;
	/* border: 1px solid white; */
	/* white-space: nowrap; */
}

span {
	/* display: inline-block; */
}

/* #fall {
	animation-name: falling;
	animation-duration: 1.5s
} */

#status-message {
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}


/* @keyframes morph {
	0% {font-size: 15vh}
	50% {font-size: 20vh}
	100% {font-size: }
} */

@keyframes fadein {
	0% {opacity: 0}
	100% {opacity: 1}
}

@keyframes fadeout {
	0% {opacity: 1}
	100% {opacity: 0}
}

@keyframes yellow-flash {
	0% {color: white; font-weight: normal}
	50% {color: yellow; font-weight: bold}
	100% {color: white;font-weight: normal; opacity: 0;}
}

@keyframes red-flash {
	0% {color: white; font-weight: normal}
	50% {color: red; font-weight: bold}
	100% {color: white;font-weight: normal; opacity:0;}
}

@keyframes rollRight {
	0% {
		transform: rotate(0deg);
		opacity: 1;
	}

	100% {
		transform: rotate(180deg);
		opacity: 0;
	}
}

@keyframes rollLeft {
	0% {
		transform: rotate(360deg);
		opacity: 1;
	}

	100% {
		transform: rotate(180deg);
		opacity: 0;
	}
}